{
	"experimentalTernaries": true,
	"experimentalOperatorPosition": "start",
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"objectWrap": "preserve",
	"bracketSameLine": false,
	"arrowParens": "always",
	"svelteAllowShorthand": true,
	"svelteSortOrder": "options-scripts-markup-styles",
	"svelteIndentScriptAndStyle": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"tailwindStylesheet": "./src/app.css"
}
